body {
    font-family: 'Times New Roman', 'Georgia';
}
header, main, footer {
    max-width: 98%;
    margin: 1rem auto;
    border: 1px solid #bbb;
    padding:1rem;
    background-color:skyblue;
}
main {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 1rem;
}
h1{
   text-align: center;
    font-size: medium;
}
section {
    padding: 1rem;
    background-color: #fff;
}

/*---social media icons-----*/
.social-icons {
    display: flex;
  }
  
  .social-icons a {
    display: inline-block;
    width: 40px;
    height: 40px;
    margin-right: 10px;
    text-align: center;
    line-height: 40px;
    background-color: #0a2e5e; 
    color: #fff; 
    border-radius: 50%;
    transition: background-color 0.3s, color 0.3s;
  }
  
  .social-icons a:hover {
    background-color: #d0e41d; 
  }

/*--- end social media icons-----*/
.link a{
    color: #29a1f1;
}

.container {
    display: flex; 
    justify-content: space-evenly;
}

.container img {
    vertical-align: middle; 
    width: 50px; 
    height: 50px; 
    border-radius: 50px;
    justify-content: center;
}

.container .name {
    display: inline-block; 
    margin-left: 10px; 
    font-weight: bolder;
    color: #fff;
}
.spotlight img {
    width: 100px;
    align-items: center;
    border-radius: 10px;
}
p{
    font-size: medium;
}

/*-------Nav----------*/
ul {
    list-style-type: none;
    margin: 0;
    padding: 10px;
    color: #fff;
}
nav ul {
    display: block;
    justify-content: space-between;
    text-align: center;
    padding: 15px;
    margin: 0px; 
}
nav {
    padding: 10px;
    margin: 0px;
  
}
ul > li > a{
    text-decoration: none;
    color: #fff;
}
.active {
    background-color: rgb(190, 107, 6);
    width: fit-content;
}
.pp{
    padding: 20px 0;
    text-align: center;
    text-decoration: underline;
    opacity: 0.6;
    font-weight: bold;
}

/*-------MAIN----------*/
h2{
    text-align: center;
    /*background-color: rgb(14, 135, 190);*/
    color: #0812a8;
    font-weight: bold;
    border-radius: 50px;
    font-size: medium;
    margin: 1rem;
 
}

.click2action img{
    width:100%; 
    height: 300px;
    
}

.information img{
    width:100%; 
    height: 300px;
}
.activities ul> li  {
    color: black;
    font-weight: bold;
    opacity: 0.8;
}
.activities a{
    color: black;
}
.info{
    text-align: center;
    font-weight: bold;
    opacity: 0.8;
}

/*-------footer----*/
footer img{
    width: 60px;
    height: 60px;
    border-radius: 20px;
    justify-content:center;
}



  /*-----button------ */
  .click2action {
    position: relative;
    
  }
  
  .button{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 10px 20px;
    background-color: #0c8f37; 
    color: #fff; 
    border: none;
    border-radius: 5px;
    cursor: pointer;
 
  }

  .button:hover{
    color: #f00;
    background-color: #2980b9;
  }
  .button1{
    position: absolute;
    margin-top: 200px;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 10px 20px;
    background-color: #0c8f37; 
    color: #fff; 
    border: none;
    border-radius: 5px;
    cursor: pointer;
    
  }
  .button2{
    background-color: blue;
}

.button3{
    background-color:rgb(53, 0, 139);
}

.button4{
    background-color:chocolate;
}
.button2, .button3, .button4{
    font-size: larger;
    border-radius: 50px;
   
}

/*-----HARMBAGER----*/
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
body {
	font-family: Roboto, sans-serif;
}
/* small View ***************/
#hamburgerMenu {
	display: block;
	font-size: 2rem;
    font-weight: bolder;
	text-decoration:none;
	padding: .5rem .75rem;
	background-color:skyblue;
	color: #000;
    float: right;
}

#hamburgerMenu::before {
	content: "≡";
}


.navigation {
	list-style: none;
	margin: 0 auto;
	max-width: 360px;
}

.navigation li {
	display: none;
}
.navigation a {
	display: block;
	padding: 0.75rem;
	text-align: left;
	text-decoration: none;
	color:white;
	font-weight: 700;
	transition: 0.5s;
	font-size: clamp(1rem, 2vmin, 1.5rem);
}

.navigation a:hover {
	color: rgb(184, 18, 18);
    text-decoration: underline;
    
}



.show li {
	display: block;
}

#hamburgerMenu.show::before {
	content: "X";
}
/*--END OF HAMBURGER---*/

/*--------DISCOVER PAGE-----*/

  h6{
    font-size: large;
    margin: .1rem;
}
.label{
    color:blue;
    margin: .1rem;
}
#visits, #daysleft{
    color:red;
    margin: .1rem;
    
}
.footer{
    margin: 2rem;
    justify-content: space-between;
}
.times{
    align-items: center;
    margin-left:2rem;
}

/*-----------Form-------*/



/* Style for benefits */
  
body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
}

.cont {
    width: 400px;
    margin: 100px auto;
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

h2 {
    text-align: center;
}

input[type="text"], input[type="email"], input[type="password"], select {
    width: 100%;
    padding: 10px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

input[type="submit"] {
    width: 100%;
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

input[type="submit"]:hover {
    background-color: #45a049;
}


.radio {
    display: block;
    padding: 2px;
    margin-right: 2px;
}


.benefits {
    width: 80%;
    margin: 0 auto;
}
.benefit-level {
    margin-bottom: 20px;
}
.benefit-level h2 {
    font-size: 18px;
    margin-bottom: 10px;
}
.benefit-level textarea {
    width: 100%;
    height: 150px;
    resize: vertical;
}

/*................................STYLING WEATHER.........................*/
.temperature{
    color: black;
    font-weight: bold;
    font-size: larger;
    align-items: center;
}
.wind-speed{
    color: black;
    font-weight: bold;
    font-size: larger;
    justify-content: center;
}
.wind-chill{
    color: black;
    font-weight: bold;
    font-size: larger;
    text-align: center;
}
.weather img {
    width: 50px;
    
}

/*------------------------------------DIRECTORY PAGE------------------------------------*/

div.cards{margin: 15px 0;}

.buttons{
	display: flex;
	justify-content: center;
	column-gap: 10px;
	margin: 15px auto;
}

button.listBtn, button.cardBtn{
	width: 40px;
	height: 40px;
	border: 1px solid black;
	border-radius: 10px; 
}

button.listBtn img, button.cardBtn img{
	display: block;
	width: 25px; /* width of container */
    height: 25px; /* height of container */
    object-fit: cover;
	margin: 5px auto;
}

.activeBtn{
	background-color: green;
}
.but {
    text-align: center;
    font-size: x-large;
    background-color: orange;
    transition-duration: 2.5ms;
    margin-left: 150px;
    border-radius: 10px;
    padding: 10px;
    transition-delay: 4ms;
   
}
.but:hover{
    background-color: rgb(106, 194, 6);
}

.bCard{
	max-width: 90%;
	margin: 20px auto;
	padding: 15px;
	box-shadow: 0px 2px 8px #888888;
}

.bCard h3{font-size: 1rem;}

.bCard p{padding: 5px 0; font-size: 1rem;}

.bCard a{word-wrap: break-word;}

/*------------------banner---------------*/
.banner {
    display: none;
    position: fixed;
    bottom: 50px;
    right: 30px;
    width: 40%;
    background-color: #79d3c4;
    padding: 10px;
    text-align: center;
    
  }
  
  .banner p {
    margin: 0;
  }
  
  .banner button {
    background-color: transparent;
    border: none;
    cursor: pointer;
    outline: none;
    color: #555;
    font-weight: bold;
  }
#closeBanner{
  color: red;
  font-weight: bolder;
  font-size: x-large;
}  
