@media screen and (min-width: 500px) {


    header {
        background-color: rgb(14, 135, 190);
        color: white;
        text-align: center;
    }

    main {
        grid-template-columns: 1fr 1fr;
    }
    .container {
        flex-direction: row;
    }
    ul {
        display: inline-block;
        justify-content: space-between;
        list-style: none;
        text-align: center;
        padding: 15px;
        margin-left:5px;
       
    }

     /*--Hamburger--*/
     .navigation {
		display: flex;
	}
	.navigation li {
		display: block; 
		flex: 1 1 100%;
	}
	.navigation a {
		text-align: center;
	}
	#hamburgerMenu {
		display: none;
	}


/*--end of Hamburger---*/
   

    ul > li > a{
        text-decoration: none;
        color: #fff;
    }

    nav {
        padding: 10px;
        margin: 0px;
      
    }

    .container .name {
        font-weight: bolder;
        color: #fff;
    }

    .pp{
        padding: 20px 0;
        text-align: center;
        text-decoration: underline;
        opacity: 0.6;
        font-weight: bold;
    }
    h2{
        text-align: center;
        background-color: rgb(14, 135, 190);
        font-weight: bold;
    }
    footer{
        text-align: center;
       
    }
    .colorMode {
        position: absolute;
        top: 2rem;
        right: 45rem;
        font-size: 1rem;
        cursor: pointer;
    
    }
    /*----End of color mode--*/

main {
	max-width: 670px;
	margin: 0 auto;
}

.hero {
	margin: 10px auto;
	position: relative;
	border: 1px solid rgba(0,0,0,.1);
	height: 300px;
}

.hero img {
	width: 100%;
	height: 100%;
	object-fit: cover;
}

.herolabel {
	position: absolute;
	top: 30px;
	left: 30px;
	background: radial-gradient(#fff, #4D5B97);
	border: 1px solid rgba(0,0,0,.75);
	padding: 1.5rem;
	box-shadow: 0 0 3rem #fff;
	opacity: 0.75;

}

.herolabel p {
	margin: 0;
	padding: .25rem;
	font-weight: 700;
	font-size: 1.5rem;
	
}
.maps{
    margin-left: 40.5rem;
    
}
/*--------------number of times--------------*/
.times{
    text-align: center;
}
h6{
    font-size: large;
    margin: 1rem;
}
.label{
    color: red;
}
#visits{
    color: blue;
}

}